#content {
    height: 100vh;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    background-color: darkgray;
    border-bottom: 1px solid darkgray;
}

.restaurantname {
    margin-bottom: 1rem;
    font-size: 9rem
}

.button {
    color: inherit;
    cursor: pointer;
    border-style: none;
    outline: none;
}

.main {
    max-width: 1000px;
    padding: 4rem;
    margin: 6rem 0;
    font-size: 2rem;
    background-color: darkgray;
    border: 1px solid darkgray;
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: fadeIn 1.5s;
}

.welcome {
    display: grid;
    grid-template: 1fr 2fr / 3fr 1fr;
    grid-template-areas: 
        "welcomeheader welcomeimage"
        "description welcomeimage";
}

.welcomeheader {
    grid-area: welcomeheader;
}

.welcomeimage {
    grid-area: welcomeimage;
}

.description {
    grid-area: welcomeimage;
} 


.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1rem;
    border-top: 1px solid darkgray;
    background-color: darkgray;
}